
<%- include('main-topbar', {
user: user,
topbarLayout: ["SEARCH", "TOPBAR_ACTIONS"],
topbarActionsLayout: ["ADD_CONTENT_BUTTON", "LOGOUT_BUTTON", "PROFILE_DROPDOWN"]
}) %>

<section class="category">
<h2>Continue Watching</h2>
<div class="grid" id="continue-watching"></div>
</section>

<section class="category">
<h2>Popular</h2>
<div class="grid" id="popular"></div>
</section>
