<header class="topbar">
<%- include('main-topbar') %>
</header>

<link rel="stylesheet" href="/css/settings.css">

<div class="settings-layout-container">
  
<% const activeSettingsPage = (typeof initialSettingsPage === 'string' ? initialSettingsPage : 'manage-profiles'); %>

<nav class="settings-nav">

        <!-- By default, manage-profiles will be active when reaching the settings page -->
        <a class="settings-nav-item <%= activeSettingsPage === 'manage-profiles' ? 'active' : '' %>" data-page="manage-profiles">
            <i class="bi bi-people-fill"></i>
            <span>Manage profiles</span>
        </a>

        <a class="settings-nav-item <%= activeSettingsPage === 'statistics' ? 'active' : '' %>" data-page="statistics">
            <i class="bi bi-bar-chart-line-fill"></i>
            <span>Statistics</span>
        </a>

    </nav>

    <div class="settings-content-area">
        <%- include('main-settings-' + activeSettingsPage) %>
    </div>

</div>