
<header class="topbar">
<%- include('main-topbar') %>
</header>

<section class="category">
<h2>Continue Watching</h2>
<div class="grid" id="continue-watching"></div>
</section>

<section class="category">
<h2>Popular</h2>
<div class="grid" id="popular"></div>
</section>
