node_modules
package-lock.
.env
cookie.txt
adorastream-backend/assets/videos/*
adorastream-backend/assets/posters/*
adorastream-backend/assets/profile-photos/*
adorastream-backend/public/*
!adorastream-backend/assets/videos/.gitkeep
!adorastream-backend/assets/posters/.gitkeep
!adorastream-backend/assets/profile-photos/.gitkeep
