node_modules
package-lock.
.env
cookie.txt
adorastream-backend/public/videos/*
adorastream-backend/public/posters/*
!adorastream-backend/public/videos/.gitkeep
!adorastream-backend/public/posters/.gitkeep