<!doctype html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div class="layout">
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="logo">
        <img src="/adorastream.png" alt="AdoraStream logo">
      </div>
      <nav>
        <button class="nav-item active" data-page="home">🏠</button>
        <button class="nav-item" data-page="movies">🎬</button>
        <button class="nav-item" data-page="shows">📺</button>
        <button class="nav-item" data-page="settings">⚙️</button>
        <button class="nav-item" data-page="settings" data-settings-target="statistics">📊</button>
      </nav>
    </aside>

    <!-- Main content -->
    <main class="main">
      <!-- By default display home page -->
      <%- include('../partials/main-home', {
        profiles: profiles,
        activeProfileId: activeProfileId
      }) %>

      <%- include('../partials/media-preview', {
        scripts: ['media-preview.js']
        additional_css: ['media-preview.css']
      })%>
    </main>

  </div>
</body>
</html>